.card-text {
    font-size: 20px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.col {
    padding: 0;
}

.grass {
    background-image: url(grass-type.png);
}

.fire {
    background-image: url(fire-type.jpg);
    width: 100%;
    color: white;
}

.water {
    background-image: url(water-type.png);
    width: 100%;
    color: white;
}

.bug {
    background-image: url(bug-type.png);
}

.normal {
    background-image: url(normal-type.png);
}

.poison {
    background-image: url(poison-type.png);
}

.electric {
    background-image: url(electric-type.png);
}

.ground {
    background-image: url(ground-type.png);
}

.fighting {
    background-image: url(fighting-type.png);
}

.psychic {
    background-image: url(psychic-type.png);
}

.rock {
    background-image: url(rock-type.png);
}

.ghost {
    background-image: url(ghost-type.png);
}

.ice {
    background-image: url(ice-type.png);
}

.dragon {
    background-image: url(dragon-type.png);
}

.card {
    border: solid white;
    cursor: pointer;
}

.card-footer {
    color: white;
    background-color: black;
    cursor: pointer;
}

.pokemonContainer {
    padding: 10px;
}

img {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

div {
    text-align: center;
}

button {
    background-color: beige;
}

.infocard {
    background-image: url(pokemoninfo.jpg);
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 15px darkred;
    border-radius: 5%;
    height: 500px;
    width: 900px;
    text-align: center;
}

.r-1 {
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: black;
    border: 10px;
    border-radius: 5%;
}

.r-2 {
    padding: 10px;
    margin: 10px;
}

.c-1 {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    position: relative;
    border: groove 10px;
    background-color: white;
}

.c-2 {
    padding: 10px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    color: black;
    align-items: center;
}

.info1 {
    height: 200px;
    width: 200px;
}

.b1 {
    background-color: red;
    border: 4px darkred solid;
    border-radius: 5%;
    color: black;
    padding: 10px;
}

.it-1 {
    border-top: solid 4px grey;
    border-bottom: solid 4px grey;
    margin-bottom: 10px;
    padding: 15px;
}

.it-2 {
    border-bottom: solid 4px grey;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
}

.it-3 {
    border-bottom: solid 4px grey;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
}

.it-4 {
    border-bottom: solid 4px grey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.searchsection {
    padding: 30px;
}

.pokedextop {
    margin: 29px;
    align-items: center;
    color: white;
    height: 800px;
    width: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    background-color: black;
}

.bottomofpage {
    height: 40px;
}

.close {
    margin: 6px;
    height: auto;
    background-color: black;
    color: white;
    border: solid blue;
}

.topofpage {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}